datasets==2.18.0
torch==2.2.1
tqdm==4.66.2
transformers==4.38.2
safetensors==0.4.2
numpy==1.26.4
kmeans1d @ git+https://github.com/smpanaro/kmeans1d@831c169c3729aba18ca9ff4e57c4a7d26bcc8271 # Support for cluster weights.